.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px ;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}

.logo-style {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.nav-list-header {
    list-style: none;
    margin: 0;
    color: #2e2f42;
}

.nav-header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.item-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
color: #434455;
    text-decoration: none;
    color: #2e2f42;
}


.item-nav-link:hover,
.item-nav-link:focus {
    color: #404bbf;
}

.address-section {
    font-style: normal;
}


.address-info {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}

.address-info:hover,
.address-info:focus {
color: #404bbf;
}





.address-section ul {
    display: flex;
    gap: 40px;
}